/* .container{
    display:grid;
    width: 100vw;
    height: 100%;

  background-color: #7fffd4;
  grid-template-rows: 100px 80px auto 100px;
  max-width: 100%;
  gap:10px;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: scroll;

} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: rgb(255, 255, 255); */
}

.container div {
  border: 1px solid #000000;
  padding: 20px;
}
.table {
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.searchbox {
  padding: 5px;
  margin: 5px;
  flex-grow: 5;
}
.searchbox input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  float: left;
  width: 100%;
  background: rgb(232, 234, 246);
}
.searchbutton {
  padding: 5px;
  margin: 5px;
  flex-grow: 2;
}
.modal {
  /* background-color: bisque; */

  padding: 5px;
  margin: 5px;
  flex-grow: 2;
}
.tittle {
  background-color: darkcyan;
  padding: 5px;
  margin: 5px;
  flex-grow: 5;
}
