.btn{
    display: flex;
    align-items:center;
    padding: 3px 10px;
    border: none;
    margin: 0px;
    gap: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    justify-content:space-between;
  
    background-color:rgb(197, 202, 233);
}

.btn:hover {
    background-color: rgb(255, 255, 255); /* Green */

  }